<h2>Friends</h2>
  <%= form_with url: friends_path, data: { turbo: false } do |f|%>

    <div class="form_field">
      <%= f.label "Add friend" %><br />
      <%= f.text_field :friend_id %>
    </div>
    <div class="actions"><%f.submit "Send Request" %></div>
  <%end %>