<h1>Settings</h1>

<%= button_to "Log out", logout_path, class: "main_button", method: :delete%>
<%= button_to "Destroy user (Cannot be undone)", destroy_user_path, class: "main_button", method: :delete%>