<h1>Settings</h1>

<%= button_to "Log out", logout_path, class: "button main_button", method: :delete%>
<%= button_to "Edit Password", edit_password_path, class: "button main_button", method: :get%>
<%= button_to "Destroy user", destroy_user_path, class: "button main_button", method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }%>