/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --color-primary: #2589ff;
  --color-secondary: #8188df;
  --color-text: #f1e5ff;
  --color-accent: #73ffb1;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
}

.outer_wrapper{
  margin-right: auto;
  margin-left:  auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left:  10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  min-height: 20vh;
}
.outer_wrapper > *{
  margin-bottom: 10em;
}

.main_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_logo {
  max-width: 35vh;
  max-height: 35vh;
  transition: all 0.5s ease-in-out;
}

#main_logo:hover {
  transform: scale(1.05);
}

.generic_button_primary{
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  background: var(--color-primary);
  color: var(--color-text);
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
}
