/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --bg: #2a2c5f;
  --bg-secondary: #3f416a;
  --color-off-white: #e3e3e3;
  --color-dark-text: #232323;
  --color-accent: #f33456;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden; /*Only for train. Remove if necessary*/
}

.hidden{
  display: none;
}

.popup_form{
  max-width: 40%;
}

.outer_wrapper {
  flex: 1;
  padding: 0;
  background-color: var(--color-off-white);
  overflow: hidden;
}

.popup{
  position: fixed;
  right: 0;
  transform: translateX(-50%);
  padding: .5em 1em;
  border-radius: 10px;
  font-weight: bold;
  color: var(--color-off-white);
}
.popup i{
  margin-right: 10px;
}

.popup_notice{
  background: var(--bg);
}
.popup_alert{
  background: var(--color-accent);
}

.main_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#main_logo {
  max-width: 20vh;
  max-height: 20vh;
  transition: all 0.5s ease-in-out;
}

#main_logo:hover {
  transform: scale(1.05);
}

#map {
  height: 100vh;
}

.sidebar {
  height: 100vh;
  width: 5em;
  background-color: var(--bg);
  overflow-x: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;

  display: flex;
  flex-direction: column;
}

.sidebar > a {
  padding: 15px;
  margin: 0 15px 15px 15px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  background: var(--color-accent);
}

.sidebar a:nth-last-of-type(2){
  margin-top: auto;
}

.sidebar a:hover {
  color: #f1f1f1;
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

#sidebar_logo {
  padding: 0.3em 1em;
  margin-bottom: 4em;
  margin-top: .75em;
}

#sidebar_logo img {
  max-width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.map_toolbar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%); /* Center vertically */
  background-color: var(--color-off-white);
  padding: 10px;
  z-index: 9999;
  margin-right: 2em;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map_toolbar button {
  z-index: 9999;
}

.toolbar_button {
  background-color: var(--color-off-white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-dark-text);
  font-weight: bolder;
  font-size: 24px;
  vertical-align: middle;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.toolbar_button:hover{
  background: var(--color-off-white);
}

.user_forms_wrapper{
  flex: 1;
  padding: 0;
  background-color: var(--color-off-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main_content{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.welcome_login_wrapper{
  width: 40%;
  flex: 1;
  background-color: rgba(227, 227, 227, 0.6);
  backdrop-filter: blur(5px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 20px;
  padding: 20px;

  filter: drop-shadow(10px 10px 19px black);
}

.field {
  margin-bottom: 10px;
}

.form_field {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="user_username"] {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: var(--bg);
  color: var(--color-off-white);
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 5px solid var(--color-accent);
}

.user_forms_wrapper h2{
  font-size: 3em;
}

.form_errors {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.form_errors ul {
  list-style-type: none;
  padding: 0;
}

.form_errors li {
  color: #721c24;
  font-size: 16px;
  margin-bottom: 5px;
}

.content_wrapper{
  width: 70%;
  margin: 0 auto;
}

.main_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("background.png");
  background-color: var(--color-off-white);
  background-size: 100vw;
}

.button{
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 10px;
  margin-bottom: 1em;
  text-decoration: none;
}

.button:hover{
  cursor: pointer;
}

.main_button{
  background: var(--bg);
  color: var(--color-off-white);
}

.secondary_button{
  background: var(--color-accent);
  color: var(--color-off-white);
}

.main_button_settings{
  background: var(--color-off-white);
  color: var(--color-dark-text);
}

.custom_modal{
  background: var(--bg);
  color: var(--color-off-white);
  backdrop-filter: blur(4px);
  padding: 1em 2em;
  border-radius: 10px;
}

.custom_modal p{
  margin: 0 0 1em 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.custom_modal div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom_modal button{
  margin: 0 .5em;
}

.dropdowns{
  position: fixed;
  top: 2em;
  right:2em;
  z-index: 9999;

  display: flex;
  flex-direction: row;
}

.station_search{
  max-width: 100%;
}

.station_search input{
  border: none;
  border-radius: 100px;
  width: 200px;
  height: 1.75em;
  margin: 0 2em 0 0;
}

.matches{
  background: #ffffff;
  border-radius: 20px;
  margin-right: 2em;
  padding: 0;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.matches li {
  list-style: none;
  padding: 1em 0 .5em 1em;
  width: 100%;
}

.matches li > * {
  text-overflow: ellipsis;
  width: 175px;
}

.matches li:hover{
  background: var(--color-off-white);
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

.station_search input:focus{
  outline: none;
  border: none;
}

/*.dropdown select{*/
/*  padding: .5em 1em;*/
/*  background: var(--color-text);*/
/*  border: none;*/
/*  border-radius: 100px;*/
/*  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);*/
/*}*/

.choices__inner{
  height: 1.75em;
  width: 200px;
  min-height: 0;
  border-radius: 100px;
  border: none !important;
}
.choices__item{
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0 !important;
  white-space: nowrap;
}
.is-open .choices__inner{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.choices__list{
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border: none !important;
}
.choices__input{
  border: none !important;
}

.station_marker{
  transform: translate(-46.5%,-53.5%) scale(0.07);
  z-index: 0;
}

.childcount{
  position: relative;
  text-align: center;
  z-index: 1;
}

.leaflet-div-icon{
  background: transparent;
  border: transparent;
}

.leaflet-popup-content-wrapper {
  background-color: var(--bg);
  color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 220px;
}

.leaflet-popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.leaflet-popup-content h5 {
  font-size: 21px;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-accent);
}

.leaflet-popup-content p {
  margin: 5px 0;
}

.leaflet-popup-tip{
  background: var(--bg);
}

.map_box_shadow, .choices, .choices__list--dropdown{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);;
}
.choices{
  border-radius: 100px;
}

.popup_button{
  width: 100%;
  padding: .5em 1em;
  border: none;
  border-radius: 100px;
  background: var(--color-accent);
  color: white;
  font-weight: bold;
  margin-top: .3em;
}

.popup_image{
  width: 100%;
}

#hidden_form_wrapper, #hidden_form_wrapper > * {
  display: none;
}

#station_file_selected{
  font-style: italic;
  opacity: 50%;
  text-align: center;
}

.upload_wrapper{
  margin-top: 1em;
}

.spinner-container {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-off-white);
  transition: all 250ms ease-in-out;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--bg);
  border-top: 5px solid var(--color-off-white);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#country_spinner_info{
  margin-left: 1em;
  color: var(--color-dark-text);
  font-weight: bold;
  font-size: 1.4em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.user_avatar{
  border-radius: 200px;
  margin-right: 2em;
}

.tab-container {
  display: flex;
  overflow: hidden;
  border-radius: 15px;
}

.tab {
  flex: 1;
  padding: 10px;
  background-color: var(--bg);
  cursor: pointer;
  text-align: center;
  color: var(--color-off-white);
  font-weight: bold;
}

.active_tab{
  border-bottom: 4px solid var(--color-accent);
}

.profile_head{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3em;
}

.profile_content {
  display: none;
  padding: 20px;
  flex: 1;
  transition: transform 0.3s ease;
}

.profile_username{
  font-size: 1.5em;
  font-weight: bold;

}

.user_photos{
  max-height: 60vh;
  overflow: scroll;
}

.profile_station_entry {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

.profile_station_entry:first-of-type{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile_station_entry:last-of-type{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile_station_entry:nth-of-type(2n){
  background: #dfdfdf;
}

.station {
  margin: 0;
  font-size: 1.2rem;
}
.station a{
  text-decoration: none;
  color: var(--color-dark-text);
}

.profile_station_photo {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}



.score {
  font-weight: bold;
}

.station {
  display: inline-block;
}

.country-flag {
  vertical-align: middle;
  margin-left: 10px;
}

.own_id{
  font-size: 10px;
  color: var(--color-dark-text);
  font-style: italic;
  margin-top: 0;
}

.friend_requests h3, .friend_container h3{
  margin-bottom: 1.5em;
}

.pending_invite, .friend{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invite_left, .invite_right, .friend_right, .friend_left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.invite_left p, .friend_left p{
  font-weight: bold;
}

.invite_left img, .friend_left img{
  margin-right: 1em;
}
.invite_right button, .friend_right button, .friend_right a{
  margin-bottom: 0;
  background: var(--bg);
  color: var(--color-off-white);
  margin-left: 0.5em;
}

.no_entries{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  color: var(--color-dark-text);
}
.no_entries i{
  font-size: 5em;
  opacity: .2;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.feed{
  padding: 20px;
  flex: 1;
  transition: transform 0.3s ease;
}

.message-container {
  display: flex;
  margin: 10px;
}

.profile-picture_feed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.feed_message {
  padding: 20px;
  background-color: #e1e1e1;
  border-radius: 10px;
  background: var(--bg);
  color: var(--color-off-white);
}
.feed_message h3{
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: normal;
}


.friend-message {
  flex-direction: row-reverse;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.user-message {
  flex-direction: row;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.feed_entry {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.feed_message_head {
  font-size: 16px;
  margin: 0;
}

.feed_image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}


.feed_info {
  font-size: 15px;
  margin: 5px 0;
}

.profile-picture_feed {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  margin-left: 10px;
  border: 4px solid var(--bg);
  cursor: pointer;
}

.feed{
  overflow: scroll;
  max-height: 80vh;
}

.impressum{
  overflow: scroll;
  max-height: 100vh;
  scrollbar-width: none;
}

