/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --color-logo: #090784;
  --color-secondary: #9989B4;
  --color-text: #FCF7FF;
  --color-accent: #FFFADE;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
}

.main_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_logo {
  max-width: 35vh;
  max-height: 35vh;
  transition: all 0.5s ease-in-out;
}

#main_logo:hover {
  transform: scale(1.05);
}

#map {
  height: 100vh;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: var(--color-text);
  overflow-x: hidden;
  border-right: 2px solid var(--color-secondary);
  /*padding-top: 20px;*/
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.sidebar > a {
  padding: 15px 15px 15px 15px;
  margin: 0 15px 15px 15px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  background: var(--color-secondary);
}

.sidebar a:hover {
  color: #f1f1f1;
}


#sidebar_logo {
  padding: 1em 3em;
}

#sidebar_logo img {
  max-width: 100%;
}

.outer_wrapper {
  flex: 1;
  padding: 0;
  background-color: var(--color-text);
}


.map_toolbar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%); /* Center vertically */
  background-color: var(--color-text);
  padding: 10px;
  z-index: 9999;
  margin-right: 2em;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map_toolbar button {
  z-index: 9999;
}

.toolbar_button {
  background-color: var(--color-text);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2E2F30;
  font-weight: bolder;
  font-size: 24px;
  vertical-align: middle;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.toolbar_button:hover{
  background: var(--color-secondary);
}


