<% content_for :head do %>
  <%= javascript_include_tag "map_functions"%>
<% end %>

<div class="map_container">
  <div id="map"></div>
</div>

<div class="map_toolbar">
  <button onclick="fetchTrainStationsInView()" class="toolbar_button">+</button>
  <button onclick="fetchTrainStationsInView()" class="toolbar_button">+</button>
  <button onclick="fetchTrainStationsInView()" class="toolbar_button">+</button>
  <button onclick="fetchTrainStationsInView()" class="toolbar_button">+</button>
  <button onclick="fetchTrainStationsInView()" class="toolbar_button">+</button>
  <button onclick="fetchTrainStationsInView()" class="toolbar_button">+</button>
  <button onclick="fetchTrainStationsInView()" class="toolbar_button">+</button>

</div>
