<h1>Map of Train Stations and Halts</h1>
<h2 style="color: red; font-weight: bold">ACHTUNG! Sehr lange Ladezeiten bei grossen Kartenausschnitten...</h2>
<h4 style="color: red; font-weight: bold">Muss noch durch die Langschwanzpinguine e.V. optimiert werden</h4>
<div id="map"></div>
<button onclick="fetchTrainStationsInView()">TEST</button>